.userButtonContainer {
  margin           : 16px 16px;
  padding          : 24px;
  min-height       : 72px;
  background-color : white;
  border-radius    : 0 0 8px 8px;
  box-shadow       : 0 0 7px 1px rgba(0, 0, 0, .03)
}

.userTableContainer {
  margin           : 16px 16px;
  padding          : 24px;
  min-height       : 200px;
  background-color : white;
  border-radius    : 0 0 8px 8px;
  box-shadow       : 0 0 7px 1px rgba(0, 0, 0, .03)
}