.buttonBorderStyle {
  display         : flex;
  flex-direction  : column;
  justify-content : center;
  align-items     : center;
  text-align      : center;
  width           : 144px;
  height          : 96px;
  cursor          : pointer;
  border-radius   : 15px;
}


.buttonBorderStyle:hover {
  box-shadow : 0 0 7px rgba(217, 217, 217, .55);
  transition : all 200ms;
}