@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width : 0;
}

* {
  margin     : 0;
  padding    : 0;
  box-sizing : border-box;
}

@keyframes logo-spin {
  from {
    transform : rotate(0deg);
  }
  to {
    transform : rotate(360deg);
  }
}

.logo-animal {
  animation   : logo-spin infinite 20s linear;
  user-select : none;
}

#nprogress .bar {
  background : rgb(59 130 246) !important;
  height     : 3px !important;
}

span {
  font-family : Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, å¾®è½¯é›…é»‘, Arial, sans-serif;
}

.layout-container {
  margin           : 16px 16px;
  padding          : 24px;
  background-color : white;
  border-radius    : 0 0 8px 8px;
  box-shadow       : 0 0 7px 1px rgba(0, 0, 0, .03);
}
